%h1 Listing emotions


.row.demo-row
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %ul.dashboard-nav
          %li
            %a{:href => "#"}
              Week
          %li
            %a{:href => "#"}
              Month
          %li
            %a{:href => "#"}
              Year

.container
  - @followers.each do |follower|
    -counter=0
    - follower.follower_tweets.each do |tweet|
      -if counter == 6
        %row
        -counter = 0
      -if tweet.emotion == "joy"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-sun-flower
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1
      -elsif tweet.emotion == "anger"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-pomegranate
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1
      -elsif tweet.emotion == "surprise"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-turquoise
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1
      -elsif tweet.emotion == "fear"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-wet-asphalt
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1
      -elsif tweet.emotion == "sadness"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-amethyst
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1
      -elsif tweet.emotion == "disgust"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-pumpkin
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1
      -else tweet.emotion == "uncertain"
        %div.span2
          %div.emotion-icon
            %dl.palette.palette-silver
              %dt= follower.name
              %dd= tweet.emotion
              -counter += 1

