.row#header
  = render 'global_header'


.container
  .row
    = render 'profile_iconfield'
      %a.btn.btn-large.btn-block.btn-inverse{"href" => "#post_to_twitter_modal", "data-toggle" => "modal", "role" => "button", "name" => "post_to_twitter", "class" => "btn"}Post To Twitter
    %div.span9.dashboard-filter
      = render 'dashboard_emotions_filter'

        .row
          %div{"class" => "span9"}
            = render 'dashboard_timeframes_filter'
        .row
          %div{"class" => "span9"}
            = render 'dashboard_user_followers_filter'

        .row
          %div.span9
            = render 'dashboard_iconfield'




= render 'user_tweets_modal'

= render 'post_to_twitter_modal'

= render 'isotope'