#desktop
  .row#header
    %div.span2.header-chunk-large
      %dl(class = "palette palette-header1")
        %h1#app-logo Sentimentalist
    %div.span2.header-chunk-small
      %dl(class = "palette palette-header2")
    %div.span2.header-chunk-small
      %dl(class = "palette palette-header3")
    %div.span2.header-chunk-small
      %dl(class = "palette palette-header4")
    %div.span2.header-chunk-small
      %dl(class = "palette palette-header5")
    %div.span2.header-chunk-small
      %dl(class = "palette palette-header6")


  .container
    .row
      %div.span3#desktop-profile-icon
        %div.iconfield
          = render 'user_profile_icon'
        %a.btn.btn-large.btn-block.btn-inverse{"href" => "#post_to_twitter_modal", "data-toggle" => "modal", "role" => "button", "name" => "post_to_twitter"}Post To Twitter
        %a.btn.btn-large.btn-block.btn-inverse{"href" => "#reset_bayesian_classifier_modal", "data-toggle" => "modal", "role" => "button", "name" => "reset_bayesian_classifier"}Reset Bayesian Classifier
        %a.btn.btn-large.btn-block.btn-inverse{"href" => "#manage_account_modal", "data-toggle" => "modal", "role" => "button", "name" => "manage_account"}Manage Account
        %a.btn.btn-large.btn-block.btn-default{"href" => '/signout', "data-toggle" => "modal", "role" => "button", "name" => "sign_out"}Sign Out
      %div.span9
        = render 'default_bayesian_filter_partial'
      %div.span9
        = render 'emotions_filter_partial'
        = render 'user_followers_filter_partial'
      %div.iconfield.span9#small-icons
        = render 'dashboard_iconfield'

#mobile
  .row#header
    %dl(class = "palette palette-header1")
      %h1#app-logo-mobile-dashboard Sentimentalist
  .container
    .row
      %div.span6#mobile-profile-icon
        %div.iconfield
          = render 'user_profile_icon'
    %a.btn.btn-large.btn-block.btn-inverse{"href" => "#post_to_twitter_modal", "data-toggle" => "modal", "role" => "button", "name" => "post_to_twitter"}Post To Twitter
    %a.btn.btn-large.btn-block.btn-inverse{"href" => "#reset_bayesian_classifier_modal", "data-toggle" => "modal", "role" => "button", "name" => "reset_bayesian_classifier"}Reset Bayesian Classifier
    %a.btn.btn-large.btn-block.btn-inverse{"href" => "#manage_account_modal", "data-toggle" => "modal", "role" => "button", "name" => "manage_account"}Manage Account
    %a.btn.btn-large.btn-block.btn-default{"href" => '/signout', "data-toggle" => "modal", "role" => "button", "name" => "sign_out"}Sign Out
    %a.btn.btn-large.btn-block.btn-default#mobile-filter-first{"href" => '#default_bayesian_filter_modal', "data-toggle" => "modal", "role" => "button", "name" => "default_bayesian_filter"}Classifier
    %a.btn.btn-large.btn-block.btn-default{"href" => '#emotions_filter_modal', "data-toggle" => "modal", "role" => "button", "name" => "emotion_filter"}Emotion
    %a.btn.btn-large.btn-block.btn-default{"href" => '#user_follower_filter_modal', "data-toggle" => "modal", "role" => "button", "name" => "user_follower_filter"}Context
    .container#mobile-iconfield.iconfield
      = render 'dashboard_iconfield'






= render 'user_tweets_modal'

= render 'post_to_twitter_modal'

= render 'manage_account_modal'

=render 'reset_bayesian_classifier_modal'

= render 'user_follower_filter_modal'

= render 'default_bayesian_filter_modal'

= render 'emotions_filter_modal'

= render 'isotope'



