.row#header
  %div.span2.header-chunk-large
    %dl(class = "palette palette-header1")
      %h1#app-logo Sentimentalist
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header2")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header3")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header4")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header5")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header6")


.container
  .row
    %div.span3
      %div.iconfield
        = render 'user_profile_icon'
      %a.btn.btn-large.btn-block.btn-inverse{"href" => "#post_to_twitter_modal", "data-toggle" => "modal", "role" => "button", "name" => "post_to_twitter", "class" => "btn"}Post To Twitter
      %a.btn.btn-large.btn-block.btn-default{"href" => '/signout', "data-toggle" => "modal", "role" => "button", "name" => "sign_out", "class" => "btn"}Sign Out
    %div.span9
      = render 'default_bayesian_filter_partial'
    %div.span9
      = render 'emotions_filter_partial'
    %div.span9
      = render 'timeframes_filter_partial'
    %div.span9
      = render 'user_followers_filter_partial'
    %div.iconfield.span9#small-icons
      = render 'dashboard_iconfield'





= render 'user_tweets_modal'

= render 'post_to_twitter_modal'

= render 'isotope'

