%h1 Listing emotions


.row.demo-row
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %ul.dashboard-nav
          %li
            %a{:href => "#"}
              Me
          %li
            %a{:href => "#"}
              Followers

.container
  .row
    .span3
      %ul
        %li.todo-done
          .todo-content
            %h.todo-name
              Filters
        %li
          .todo-content
            %h4.todo-name
              Week
            %strong All tweets from the last month
        %li
          .todo-content
            %h4.todo-name
              Month
            %strong All tweets from the last month
        %li
          .todo-content
            %h4.todo-name
              Year
            %strong All tweets from the last year

    .span9
      .row
        %div#emotion-icon-nav
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter =>"*"} All
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-joy"} Joy
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-sadness"} Sadness
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-anger"} Anger
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-surprise"} Surprise
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-disgust"} Disgust
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-fear"} Fear
          .span2.emotion-icon-filter
            %a.btn.btn-large.btn-block.btn-default{:href => "", :datafilter => ".emotion-uncertain"} Other
      %div#iconfield
        .row
          - @followers.each do |follower|
            - follower.follower_tweets.each do |tweet|
              -if tweet.emotion == "joy"
                %div.emotion-joy
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                  %div.span2
                    %div.emotion-icon
                      %dl.palette.palette-sun-flower
                        %dt= follower.name
                        %dd= tweet.emotion
              -elsif tweet.emotion == "anger"
                %div.emotion-anger
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                %div.span2
                  %div.emotion-icon
                    %dl.palette.palette-pomegranate
                      %dt= follower.name
                      %dd= tweet.emotion
              -elsif tweet.emotion == "surprise"
                %div.emotion-surprise
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                %div.span2
                  %div.emotion-icon
                    %dl.palette.palette-turquoise
                      %dt= follower.name
                      %dd= tweet.emotion
              -elsif tweet.emotion == "fear"
                %div.emotion-fear
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                %div.span2
                  %div.emotion-icon
                    %dl.palette.palette-wet-asphalt
                      %dt= follower.name
                      %dd= tweet.emotion
              -elsif tweet.emotion == "sadness"
                %div.emotion-sadness
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                %div.span2
                  %div.emotion-icon
                    %dl.palette.palette-amethyst
                      %dt= follower.name
                      %dd= tweet.emotion
              -elsif tweet.emotion == "disgust"
                %div.emotion-disgust
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                  %div.span2
                    %div.emotion-icon
                      %dl.palette.palette-pumpkin
                        %dt= follower.name
                        %dd= tweet.emotion
              -else tweet.emotion == "uncertain"
                %div.emotion-uncertain
                  %div.datetime-tweeted
                  -tweet.datetime_tweeted
                  %div.span2
                    %div.emotion-icon
                      %dl.palette.palette-silver
                        %dt= follower.name
                        %dd Other



:javascript
  $(document).ready(function(){
      var $container = $('#iconfield');
      $container.isotope({
          filter: '*',
          animationOptions: {
              duration: 750,
              easing: 'linear',
              queue: false,
          }
      });
  });

  $('#emotion-icon-nav.emotion-icon-filter').click(function(){
      var selector = $(this).attr('datafilter');
      $container.isotope({
          filter: selector,
          animationOptions: {
              duration: 750,
              easing: 'linear',
              queue: false,
          }
      });
    return false;
  });