%h1 Listing emotions

.navbar.navbar-inverse
  .navbar-inner

.container
  .row
    = render 'dashboard_timeframes_navbar'
  .row
    .span3
      %a.btn.btn-large.btn-block.btn-inverse{"href" => "#post_to_twitter_modal", "data-toggle" => "modal", "role" => "button", "name" => "post_to_twitter", "class" => "btn"}
        Post To Twitter



    .span9
      .row
        = render '_dashboard_emotions_navbar'

      .row
        .filter.option-set{:datafiltergroup => "user_followers_tab"}
          %ul{"class" => "nav nav-tabs", "id" => 'user_followers_tab'}
            %li{"class" => "active"}
              %a{"href" => "#", "data-toggle" => "tab", "href" => "#", "datafilter" => ".followers"}My Followers
            %li
              %a{"href" => "#", "data-toggle" => "tab", "href" => "#", "datafilter" => ".user"}Me


      .row
        %div#iconfield
          - @followers.each do |follower|
            %div(class = "emot emotion-#{follower.emotion_week} week followers")
              %div.span2
                %div.emotion-icon
                  %dl(class = "palette palette-#{follower.emotion_week}")
                    %dt= follower.name
                    -if follower.emotion_week == "uncertain"
                      %dd Other
                    -else
                      %dd= follower.emotion_week
            %div(class = "emot emotion-#{follower.emotion_month} month followers")
              %div.span2
                %div.emotion-icon
                  %dl(class = "palette palette-#{follower.emotion_month}")
                    %dt= follower.name
                    -if follower.emotion_month == "uncertain"
                      %dd Other
                    -else
                      %dd= follower.emotion_month
            %div(class = "emot emotion-#{follower.emotion_year} year followers")
              %div.span2
                %div.emotion-icon
                  %dl(class = "palette palette-#{follower.emotion_year}")
                    %dt= follower.name
                    -if follower.emotion_year == "uncertain"
                      %dd Other
                    -else
                    %dd= follower.emotion_year
          - @user_tweets.each do |tweet|
            %div(class = "emot emotion-#{tweet.emotion} week user")
              %div.span2
                %div.emotion-icon
                  %dl(class = "palette palette-#{tweet.emotion}")
                    -if tweet.emotion == "uncertain"
                      %dd Other
                    -else
                      %dd= tweet.emotion


= render 'post_to_twitter_modal'

= render 'isotope'


:javascript
  $(function () {
    $('#user_followers_tab a:last').tab('show');
  })