.row#header
  %div.span2.header-chunk-large
    %dl(class = "palette palette-header1")
      %h1#app-logo Sentimentalist
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header2")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header3")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header4")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header5")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header6")


.container
  .row
    %div.span3
      %div.iconfield
        %div(class = "emot emotion-joy emotion-anger emotion-sadness emotion-surprise emotion-disgust emotion-uncertain week followers user")
          %dl(class = "palette-user-profile palette-#{current_user.emotion_week}")
            -if current_user.emotion_week == "uncertain"
              %dt.user-profile-emotion Ambiguous
            -else
              %dt.user-profile-emotion=current_user.emotion_week
        %div(class = "emot emotion-joy emotion-anger emotion-sadness emotion-surprise emotion-disgust emotion-uncertain month followers user")
          %dl(class = "palette-user-profile palette-#{current_user.emotion_month} followers user")
            -if current_user.emotion_month == "uncertain"
              %dt.user-profile-emotion Ambiguous
            -else
              %dt.user-profile-emotion=current_user.emotion_month
        %div(class = "emot emotion-joy emotion-anger emotion-sadness emotion-surprise emotion-disgust emotion-uncertain year followers user")
          %dl(class = "palette-user-profile palette-#{current_user.emotion_year} followers user")
            -if current_user.emotion_year == "uncertain"
              %dt.user-profile-emotion Ambiguous
            -else
              %dt.user-profile-emotion=current_user.emotion_year
      %a.btn.btn-large.btn-block.btn-inverse{"href" => "#post_to_twitter_modal", "data-toggle" => "modal", "role" => "button", "name" => "post_to_twitter", "class" => "btn"}Post To Twitter
    %div.span9
      .filter.option-set{'id' => 'emotions-filter', :datafiltergroup => "category"}
        %div.btn-group{"data-toggle" => "buttons-radio"}
          %a{"class" => "btn btn-large btn primary specialspan1 active", :href => "#", :datafilter =>""} All
          %a{"class" => "btn btn-large btn primary specialspan1", :href => "#", :datafilter => ".emotion-joy"}Joy
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-anger"}Anger
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-fear"}Fear
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-sadness"}Sadness
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-surprise"}Surprise
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-disgust"}Disgust
          %a{"class" => "btn btn-large btn primary specialspan2",:href => "#", :datafilter => ".emotion-uncertain"}Ambiguous

        .row
          %div{"class" => "span9"}
            .filter.option-set{'id' => 'timeframes-filter',:datafiltergroup => "timefilter"}
              %div.btn-group{"data-toggle" => "buttons-radio"}
                %a{"class" => "btn btn-large btn primary specialspan3 active", :href => "#", :datafilter => ".week"}
                  Week
                %a{"class" => "btn btn-large btn primary specialspan3", :href => "#", :datafilter => ".month"}
                  Month
                %a{"class" => "btn btn-large btn primary specialspan3", :href => "#", :datafilter => ".year"}
                  Year
        .row
          %div{"class" => "span9"}
            .filter.option-set{'id' => 'user-followers-filter', :datafiltergroup => "user_followers_tab"}
              %div.btn-group{"data-toggle" => "buttons-radio"}
                %a{"class" => "btn btn-large btn primary specialspan5 active","href" => "#", "data-toggle" => "tab", "href" => "#", "datafilter" => ".followers"}My Followers
                %a{"class" => "btn btn-large btn primary specialspan4","href" => "#", "data-toggle" => "tab", "href" => "#", "datafilter" => ".user"}Me

        .row
          %div.span9
            = render 'dashboard_iconfield'




= render 'user_tweets_modal'

= render 'post_to_twitter_modal'

= render 'isotope'