%div.iconfield{"class" => "span9"}
  - @followers.each do |follower|
    %div(class = "emot emotion-#{follower.emotion_week} week followers")
      %div.span2
        %div.emotion-icon
          %dl(class = "palette palette-#{follower.emotion_week}")
            %dt= follower.name
            -if follower.emotion_week == "uncertain"
              %dd Ambiguous
            -else
              %dd= follower.emotion_week
    %div(class = "emot emotion-#{follower.emotion_month} month followers")
      %div.span2
        %div.emotion-icon
          %dl(class = "palette palette-#{follower.emotion_month}")
            %dt= follower.name
            -if follower.emotion_month == "uncertain"
              %dd Ambiguous
            -else
              %dd= follower.emotion_month
    %div(class = "emot emotion-#{follower.emotion_year} year followers")
      %div.span2
        %div.emotion-icon
          %dl(class = "palette palette-#{follower.emotion_year}")
            %dt= follower.name
            -if follower.emotion_year == "uncertain"
              %dd Ambiguous
            -else
              %dd= follower.emotion_year
  - @user_tweets.each do |tweet|
    %div(class = "emot emotion-#{tweet.emotion} week user")
      %div.span2
        %div.emotion-icon
          %a{"href" => "#evaluate_user_tweet_modal#{tweet.id}", "data-toggle" => "modal", "role" => "button", "name" => "evaluate_user_tweet"}
            %dl(class = "palette palette-#{tweet.emotion}")
              -if tweet.emotion == "uncertain"
                %dd Ambiguous
              -else
                %dd= tweet.emotion
    %div(class = "emot emotion-#{tweet.emotion} month user")We don't store tweets older than 1 week
    %div(class = "emot emotion-#{tweet.emotion} year user")We don't store tweets older than 1 week