- @followers.each do |follower|
  %div(class = "emot emotion-#{follower.emotion_week} week followers default-classifier")
    %div.span2
      %div.emotion-icon
        %dl(class = "palette palette-#{follower.emotion_week}")
          %dt= follower.name
          %dd= follower.emotion_week
  %div(class = "emot emotion-#{follower.emotion_month} month followers default-classifier")
    %div.span2
      %div.emotion-icon
        %dl(class = "palette palette-#{follower.emotion_month}")
          %dt= follower.name
          %dd= follower.emotion_month
  %div(class = "emot emotion-#{follower.emotion_year} year followers default-classifier")
    %div.span2
      %div.emotion-icon
        %dl(class = "palette palette-#{follower.emotion_year}")
          %dt= follower.name
          %dd= follower.emotion_year
  %div(class = "emot emotion-#{follower.bayesian_emotion_week} week followers bayesian-classifier")
    %div.span2
      %div.emotion-icon
        %dl(class = "palette palette-#{follower.bayesian_emotion_week}")
          %dt= follower.name
          %dd= follower.bayesian_emotion_week
  %div(class = "emot emotion-#{follower.emotion_month} month followers bayesian-classifier")
    %div.span2
      %div.emotion-icon
        %dl(class = "palette palette-#{follower.bayesian_emotion_month}")
          %dt= follower.name
          %dd= follower.bayesian_emotion_month
  %div(class = "emot emotion-#{follower.emotion_year} year followers bayesian-classifier")
    %div.span2
      %div.emotion-icon
        %dl(class = "palette palette-#{follower.bayesian_emotion_year}")
          %dt= follower.name
          %dd= follower.bayesian_emotion_year
- @user_tweets.each do |tweet|
  %div(class = "emot emotion-#{tweet.emotion} week user default-classifier"){"id" => "icon#{tweet.id}"}
    %div.span2
      %div.emotion-icon
        %a{"href" => "#evaluate_user_tweet_modal#{tweet.id}","id" => "link_to_evaluate_user_tweet_modal#{tweet.id}", "data-toggle" => "modal", "role" => "button", "name" => "evaluate_user_tweet"}
          %dl(class = "palette palette-#{tweet.emotion}" id="iconcolor#{tweet.id}")
            %dd{"id" => "icontext#{tweet.id}"}= tweet.emotion
  %div(class = "emot emotion-#{tweet.bayesian_emotion} week user bayesian-classifier"){"id" => "icon_bayes#{tweet.id}"}
    %div.span2
      %div.emotion-icon
        %a{"href" => "#evaluate_user_tweet_modal#{tweet.id}","id" => "link_to_evaluate_user_tweet_modal#{tweet.id}", "data-toggle" => "modal", "role" => "button", "name" => "evaluate_user_tweet"}
          %dl(class = "palette palette-#{tweet.bayesian_emotion}" id="iconcolor_bayes#{tweet.id}")
            %dd{"id" => "icontext_bayes#{tweet.id}"}= tweet.bayesian_emotion
  %div(class = "emot emotion-#{tweet.bayesian_emotion} month user")We don't store tweets older than 1 week
  %div(class = "emot emotion-#{tweet.bayesian_emotion} year user")We don't store tweets older than 1 week
