- @user_tweets.each do |tweet|
  %div{"id" => "evaluate_user_tweet_modal#{tweet.id}", "class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    %div{'class' => 'modal-header'}Here's Your Tweet:
    %div{'class' => 'modal-body'}=tweet.text
    %div{'class' => 'modal-footer'}
      %div.user-assessment-modal
        %a.btn.btn-block.btn-surprise{ "type" => "submit","data-initial-emotion" => "#{tweet.emotion}", "data-tweet-id" => "#{tweet.id}", "data-dismiss" => "modal", "aria-hidden" => "true"}Surprise
        %a.btn.btn-block.btn-joy{ "type" => "submit", "data-initial-emotion" => "#{tweet.emotion}", "data-tweet-id" => "#{tweet.id}", "data-dismiss" => "modal", "aria-hidden" => "true"}Joy
        %a.btn.btn-block.btn-disgust{ "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Disgust
        %a.btn.btn-block.btn-fear{ "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Fear
        %a.btn.btn-block.btn-sadness{ "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Sadness
        %a.btn.btn-block.btn-anger{ "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}","data-dismiss" => "modal", "aria-hidden" => "true"}Anger
        %a.btn.btn-block.btn-ambiguous{ "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Ambiguous
