- @user_tweets.each do |tweet|
  %div{"id" => "evaluate_user_tweet_modal#{tweet.id}", "class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    %div{'class' => 'modal-header'}Here's Your Tweet:
    %div{'class' => 'modal-body'}=tweet.text
    %div{'class' => 'modal-footer'}
      %div.user-assessment-modal
        = simple_form_for '', url: {controller: 'dashboard', action: 'update_machine_learner'} do |f|
          %a.btn.btn-block.btn-surprise{"href" => "/dashboard/update_machine_learner", "type" => "submit","data-initial-emotion" => "#{tweet.emotion}", "data-tweet-id" => "#{tweet.id}", "data-dismiss" => "modal", "aria-hidden" => "true"}Surprise
          %a.btn.btn-block.btn-joy{"href" => "/dashboard/update_machine_learner", "type" => "submit", "data-initial-emotion" => "#{tweet.emotion}", "data-tweet-id" => "#{tweet.id}", "data-dismiss" => "modal", "aria-hidden" => "true"}Joy
          %a.btn.btn-block.btn-disgust{"href" => "/dashboard/update_machine_learner", "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Disgust
          %a.btn.btn-block.btn-fear{"href" => "/dashboard/update_machine_learner", "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Fear
          %a.btn.btn-block.btn-sadness{"href" => "/dashboard/update_machine_learner", "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Sadness
          %a.btn.btn-block.btn-anger{"href" => "/dashboard/update_machine_learner", "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}","data-dismiss" => "modal", "aria-hidden" => "true"}Anger
          %a.btn.btn-block.btn-ambiguous{"href" => "/dashboard/update_machine_learner", "type" => "submit", "data-tweet-id" => "#{tweet.id}","data-initial-emotion" => "#{tweet.emotion}", "data-dismiss" => "modal", "aria-hidden" => "true"}Ambiguous
