<!DOCTYPE html>
<html>
<head>
  <title>Sentimentalist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
	  Welcome <%= current_user.uid %>!
	  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
	  <%= link_to "Sign in with Twitter", new_user_session_path %>
	<% end %>

<%= yield %>

</body>
</html>
